version: '3.9'
services:
  superllm_sample-wsgi:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3002:3000'
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    volumes:
      - ./log:/var/log/superllm_sample
      - ./log:/opt/superllm_sample/log
      - ./cache:/opt/superllm_sample/cache
      - ./src:/opt/superllm_sample
      - ./config.json:/opt/superllm_sample/config.json
      - ./model:/opt/superllm_sample/model
      - ./src:/opt/superllm_sample_build
      - ./output:/opt/superllm_sample/output
#      - /tmp/docker-tmp:/tmp
    #stdin_open: true
    #tty: true
    entrypoint: superllm_sampleWSGI
    restart: always 
#    entrypoint: notebooks_backend
    #entrypoint: /bin/bash
  superllm_sample-postgres:
    image: docker.io/library/postgres:17.7-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5433:5432'
    volumes: 
      - db:/var/lib/postgresql/data
volumes:
  db:
    driver: local
